/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width: 12px;
    height:12px;
    }
body::-webkit-scrollbar-track {
    background:linear-gradient(rgb(2, 127, 245),rgb(3, 252, 98),rgb(213, 250, 2),#03a9f4);
    // border-radius: 20px;
    }
body::-webkit-scrollbar-thumb {
    background-color: goldenrod;
    border-radius: 20px;
    }